<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>udc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C11DA185265E7E99006EA241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11DA19B265E7E9B006EA241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11DA1A6265E7E9B006EA241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
